//- module
doctype html
block vars
- if(!config) config = {jumbotron: true}
- var use = { cdn: false, og: true, favicon: true }
- var lib = { jquery: true, angular: true, bootstrap: true, fontawesome: true }
- var assets = "/assets"
- var favicon = "http://xinmeti.co/favicon.png"
- var title = "新媒體內容技術與設計 / 輔大新聞系數位內容設計課程"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"}
- og.domain = "xinmeti.co"
- og.url = "http://xinmeti.co"
- og.thumbnail = {width: 700, height: 380, type: "image/jpg"}
- og.thumbnail.url = "http://xinmeti.co/assets/img/thumbnail.jpg"
- og.author = "zbryikt"
- og.section = "Taiwan"
- og.keyword = "zbryikt,template"
- og.keyword = "journalism,new media,digital content,"
- og.description = "帶領學生了解數位時代的內容產製方式、流程與內容的整體樣貌，並學習從基本的內容製作到內容管理與維護。"
- var fb = {}
- fb.app_id = ""
- fb.admins = ""
html(lang="en")
  include mixin.jade
  head(prefix="og: http://ogp.me/ns#")
    include /ga.html
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include /library.jade
    // custom files
  body
    include /nav.jade
    if config.jumbotron
      .jumbotron-fluid.text-center
        .container-fluid
          +nbr(2)
          h1 新媒體內容技術與設計 
          .subtitle New Media Techniques and Design
          +nbr(1)
          a.btn.btn-primary(href="/#course-list") 完整課表
          +nbr(3)
    +nbr(2)
    .block1024
      block body
    +nbr(2)
  include /footer.jade
  +css("/index.css")
  +script("/base.js")
  include /ga.html
