#disqus_thread
script.
  var disqus_config = function () {
    this.page.url = "http://xinmeti.co";
    this.page.identifier = "/";
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://xinmeti.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
