//- module
nav.bg-black
  nav.navbar.navbar-expand-lg.navbar-dark.justify-content-between.block1024
    a.navbar-brand(href="/") HOME
    button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item: a.nav-link(href="#course-list") 課表
        li.nav-item: a.nav-link(href="/dataset/") 資料集
