extends /base.jade
include /mixin.jade
block body
  .grayed 2017-10-12
  h1 數位專輯的骨架: 基本網頁製作 / HTML 超文件標記語言實作
  .sep
  +nbr(1)
  h3 連結
  +nbr(1)
  ul
    li: a(href="https://developer.mozilla.org/zh-TW/docs/Learn/Getting_started_with_the_web/HTML_basics") HTML 基礎 / MDN Web Docs
    li: a(href="https://ascii.cl/htmlcodes.htm") HTML 控制碼速查表 / HTML Code Table
    li: a(href="https://www.w3schools.com/TagS/ref_urlencode.asp") 網址編碼速查表 /  ASCII Encoding
    li: a(href="https://meyerweb.com/eric/tools/dencoder/") 網址編碼轉換器 / URL Decoder / Encoder
