extends /base.jade
include /mixin.jade
block body
  .grayed 2017-10-05
  h1 數位內容初步: 操作環境介紹與熟悉
  .sep
  +nbr(1)
  h3 連結
  +nbr(1)
  ul
    li: a(href="https://www.google.com.tw/chrome/browser/desktop/index.html") Google Chrome 網路瀏覽器
    li: a(href="https://jsbin.com") JSBIN 網頁實驗與源碼分享服務
    li: a(href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types") 檔案類型 Mime Types
    li: a(href="https://www.udemy.com/chrome-devtools/") Chrome 網頁除錯功能大解密
    li: a(href="https://dirtymarkup.com/") 源碼清理工具 &lt;DIRTYMARKUP/&gt;
    li: a(href="http://caniuse.com/") 網頁技術支援度查詢服務 Can I Use? 
    li: a(href="https://developer.mozilla.org/zh-TW/docs/Learn/Getting_started_with_the_web/HTML_basics") HTML 基礎 / MDN Web Docs
