extends /base.jade
include /mixin.jade
block head
  script(src="/lib/jquery.magnific-popup.min.js")
  link(rel="stylesheet" type="text/css" href="/lib/magnific-popup.css")
  link(rel="stylesheet" type="text/css" href="/lib/transition.css")
block body
  .grayed 2017-11-30
  big 內容工程
  h1 分組專題提案與製作說明 / Wordpress 內容管理系統
  .sep
  +nbr(1)
  h3 連結
  ul
    li: a(href="https://github.com") GitHub
    li: a(href="https://twitter.com") Twitter
    li: a(href="https://cards-dev.twitter.com/validator") Twitter Card Validator
    li: a(href="https://developers.facebook.com/tools/debug/") Facebook Debugger
    li: a(href="https://analytics.google.com") Google Analytics
    li: a(href="http://www.convinceandconvert.com/content-marketing/content-to-fill-calendar/") Content Types
    li: a(href="https://www.hubspot.com/blog-topic-generator") Topic Generator

    li: a(href="http://gs.statcounter.com/browser-market-share/all/taiwan") 瀏覽器市佔率圖表
    li: a(href="https://caniuse.com/#search=html") Can I Use? 網頁技術支援度統計
    li: a(href="https://search.google.com/test/mobile-friendly") Google Mobile Friendly Test
    li: a(href="https://trends.google.com/trends/") Google Trend
    li: a(href="https://developers.facebook.com/tools/debug/") Facebook Debugger
    li: a(href="https://creativecommons.org/") Creative Commons / 創用授權
    li: a(href="http://alteredqualia.com/three/examples/webgl_pasta.html") 掉落的義大利麵
    li: a(href="https://www.alexa.com/siteinfo/") Alexa SiteInfo
    li: a(href="https://www.similarweb.com/") Similar Web
  +nbr(1)
  h3 過往專題
  ul
    li: a(href="https://dennishsiao.github.io/project/home.html") 剩食保衛戰
    li: a(href="https://crymask.github.io/VisualizeProject/") 悲傷動物園
    li: a(href="https://yuweichang.github.io/Carbon-trading/") 碳交易
    li: a(href="https://jim830928.wixsite.com/taiwan-born-rate") 少子化問題
    li: a(href="http://140.136.150.94/finalProjectWebsite/") 愉快地遺忘
    li: a(href="http://0media.tw/p/yslin/") 林義雄數位專題
  +nbr(1)
  h3 資源網站
  ul
    li: a(href="https://pixabay.com") Pixabay
    li: a(href="https://stocksnap.io") Stocksnap
    li: a(href="https://thenounproject.com") the Noun Project
    li: a(href="https://loading.io/icon/") Loading Icons
  +nbr(2)
  h3 Open Graph 與 Site Meta Tags
  
  p 在 &lt;head&gt; 標籤中使用 meta 標籤來建立網站的摘要外觀。
  h5 Open Graph ( for Facebook )
  pre.code.
    &lt;meta property="og:title" content="Hello"&gt;
    &lt;meta property="og:type" content="article"&gt;
    &lt;meta property="og:url" content="Hello"&gt;
    &lt;meta property="og:description" content="an og test"&gt;
    &lt;meta property="og:title" content="Hello"&gt;
    &lt;meta property="og:image" content="http:&#47;&#47;xinmeti.co"&gt;  
  h5 Twitter Card
  pre.code.
    &lt;meta name="twitter:card" content="summary_large_image"&gt;
    &lt;meta name="twitter:site" content="@zbryikt"&gt;
    &lt;meta name="twitter:domain" content="xinmeti.co"&gt;
    &lt;meta name="twitter:url" content="http:&#47;&#47;xinmeti.co"&gt;
    &lt;meta name="twitter:creator" content="@zbryikt"&gt;
    &lt;meta name="twitter:title" content="Hello World"&gt;
    &lt;meta name="twitter:description" content="Hi There"&gt;
    &lt;meta name="twitter:image" content="http:&#47;&#47;xinmeti.co/assets/img/thumbnail.jpg"&gt;

  +nbr(2)
  h3 內容競賽討論內容
  ol
    li 主題
    li
      | 讀者背景，包含：
      ul
        li 職業
        li 年齡
        li 語言或地區
        li 興趣或專長
        li 性別
    li
      | 閱讀管道與時間/頻率，包含：
      ul
        li 管道/通路 - 透過社群網站？媒體網站？臉書、PTT、Google 或？
        li 時間/情境/頻率 - 可能會閱讀的時間？多常上來看？什麼時候看？(例如：通勤)
        li 媒介 - 透過手機或電腦？
    li
      | 主題文章的分工與規畫
      ul
        li 發文頻率、時間點
        li 每個人文章的主題
        li
          | 文章的形式，例如：
          ul
            li listicle ( 列表式文章 )，如「台北市四大魯肉飯」「2018年七部不可錯過的電影」
            li how to ( 教學文 )，如「台北美食全攻略」「初心者必學！內容行銷心法」
            li why ( 解惑文 )，如「為什麼貓咪總是不理我」「為什麼你不應該在晚上慢跑」
    li 
      a(href="https://docs.google.com/spreadsheets/d/1Zd-O3FYPfznC1rHbum_QFK_yBUqpd-PXtgEOZFxsgmo/edit?usp=sharing") 範本 Spreadsheet
      iframe(src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT-SDW7KUMHFTuTsnFh5YF6Jt2V_sDkMHHrzJExOVj9DMQEWMmHjQFVadhoXByNWaIE9EBdsNTj5MnB/pubhtml?widget=true&amp;headers=false",style="width:100%;height:400px")

  
