extends /base.jade
include /mixin.jade
block body
  .grayed 2017-09-21
  h1 課程簡介與案例賞析
  .sep
  +nbr(1)
  h3 案例分享
  +nbr(1)
  ul
    li: a(href="https://www.gvm.com.tw/event/201702_climate/") 變調的水果王國 / 遠見雜誌
    li: a(href="http://budget.g0v.tw/") 中央政府總預算視覺化 / 零時政府專案
    li: a(href="https://musou.watchout.tw/role-play/terror-30/") 你是戒嚴時代的誰呢？ / 沃草
    li: a(href="http://0media.tw/p/ergame/") 急診人生 / 報導者
    li: a(href="http://ncase.me/") Explorable Explanations / Nicky Case
    li: a(href="https://theinitium.com/project/20160825-taiwan-fisheries-web/") 我們會吃光海洋嗎？ / 端傳媒
    li: a(href="https://www.twreporter.org/a/animal-protection") 流浪動物的新天堂樂園？ / 報導者
    li: a(href="http://matthew.wagerfield.com/parallax/") 視差捲動套件 Parallax.js
    li: a(href="http://prinzhorn.github.io/skrollr/") 視差捲動套件 Skrollr 
