extends /base.jade
include /mixin.jade
block head
  script(src="/lib/jquery.magnific-popup.min.js")
  link(rel="stylesheet" type="text/css" href="/lib/magnific-popup.css")
  link(rel="stylesheet" type="text/css" href="/lib/transition.css")
block body
  .grayed 2017-11-23
  big 資訊架構與設計
  h1: 內容的傳播與包裝 / Open Graph 與網站分析工具應用
  .sep
  +nbr(1)
  h3 連結
  ul
    li: a(href="https://github.com") GitHub
    li: a(href="http://gs.statcounter.com/browser-market-share/all/taiwan") 瀏覽器市佔率圖表
    li: a(href="https://caniuse.com/#search=html") Can I Use? 網頁技術支援度統計
    li: a(href="https://search.google.com/test/mobile-friendly") Google Mobile Friendly Test
    li: a(href="https://trends.google.com/trends/") Google Trend
    li: a(href="https://developers.facebook.com/tools/debug/") Facebook Debugger
    li: a(href="https://creativecommons.org/") Creative Commons / 創用授權
    li: a(href="http://alteredqualia.com/three/examples/webgl_pasta.html") 掉落的義大利麵
    li: a(href="https://www.alexa.com/siteinfo/") Alexa SiteInfo
    li: a(href="https://www.similarweb.com/") Similar Web
  +nbr(1)
  h3 過往專題
  ul
    li: a(href="https://dennishsiao.github.io/project/home.html") 剩食保衛戰
    li: a(href="https://crymask.github.io/VisualizeProject/") 悲傷動物園
    li: a(href="https://yuweichang.github.io/Carbon-trading/") 碳交易
    li: a(href="https://jim830928.wixsite.com/taiwan-born-rate") 少子化問題
    li: a(href="http://140.136.150.94/finalProjectWebsite/") 愉快地遺忘
    li: a(href="http://0media.tw/p/yslin/") 林義雄數位專題
  +nbr(1)
  h3 資源網站
  ul
    li: a(href="https://pixabay.com") Pixabay
    li: a(href="https://stocksnap.io") Stocksnap
    li: a(href="https://thenounproject.com") the Noun Project
    li: a(href="https://loading.io/icon/") Loading Icons
