extends /base.jade
include /mixin.jade
block body
  .grayed 2017-11-02
  big 數位專輯的骨架
  h1: del 資訊架構與設計: 基本的資訊流程設計
  .sep
  +nbr(1)
  h3 連結
  +nbr(1)
  ul
    li: a(href="https://jsbin.com") JSBIN 網頁實驗與源碼分享服務
    li: a(href="https://dribbble.com/search?q=landing") 到達頁版型設計參考
  +nbr(2)
  .text-center: big 由於進度調整，本週課程內容請參照#[a(href="/07/") 上週網頁]。
  +nbr(3)


